/* yaya-layui-admin-plus 首页css配置 2026/01/13 10:28:59;author:夜泊1990;email:hd1611756908@163.com;Licensed:MIT */
*{
    padding: 0;
    margin: 0;
}
/* 显示容器 - 紧凑全局容器 */
.yaya-box-fluid{
    /* 新的页面内嵌到主页面的宽度 */
    width: 98%;
    /* 页面圆角 */
    border-radius: 5px;
    /* 新的页面距离顶部选项卡的距离,并且水平居中 */
    margin: 10px auto 0;
}

/* 显示容器 - 舒缓全局容器 */
.yaya-box-container{
    /* 新的页面内嵌到主页面的宽度 */
    width: 97%;
    /* 页面圆角 */
    border-radius: 15px;
    /* 新的页面距离顶部选项卡的距离,并且水平居中 */
    margin: 20px auto 0;
}

/* 给边框添加动画，当鼠标移动到容器上时，容器会上下浮动 */
.card-hover{
    transition: all 0.2s ease;
    cursor: pointer;
}
/* 给边框添加动画，当鼠标移动到容器上时，容器会上下浮动 */
.card-hover:hover {
    transform: translateY(-2px);
}

/* 布局面板 */
.yaya-panel{
    padding: 15px;
    background-color: white;
    border-radius: 4px;
}



/* 搜索条件样式 */
.yaya-form-item{
    display: flex;
    height: 36px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}
/* 搜索条件 - 标签样式 */
.yaya-form-label{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    float: right;
    padding-left: 15px;
}
/* 搜索条件 - 输入框样式 */
.yaya-input-block{
    flex: 1;
    height: 36px;
    padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* 搜索条件 - 输入框高度 */
.yaya-input-block>input{
    height: 36px;
}
/* 搜索条件 - 下拉框宽度 */
.yaya-input-block>.layui-form-select{
    width: 100%;
}

/* 修改Layui框架默认的输入框获取焦点后颜色设置 */
.layui-input:focus,.layui-textarea:focus {
    border-color: #409eff!important;
    box-shadow: 0 0 0 3px rgba(22,183,119,.08)
}
/* 修改Layui框架默认的下拉框颜色设置 */
.layui-form-select dl dd.layui-this{
    color: #1e9fff;
}
/* 给Layui框架的输入框设置圆角,设置到input标签的class属性中 */
.yaya-input-border-radius{
    border-radius: 5px;
}
/* 给Layui框架的下拉框,设置成圆角 */
.layui-form-select .layui-input{
    border-radius: 5px;
}