<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <title>关于</title>
    <style>

    </style>
</head>
<body>
    <div class="yaya-container">
        <div class="layui-fluid">
            <!-- 关于项目 -->
            <div class="layui-row">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>关于项目</h2>
                    <p style="line-height: 2em;">
                        <a href="#" style="color: #1e9fff;">YaYa-Layui-Admin-Plus</a> 一款简洁、方便、开箱即用、 <strong>国产化</strong> 的中后台前端管理模板，此模板以Layui框架为核心生成，遵循作者理念，专为后端程序员快速建站设计，没有提供丰富的UI组件，但是提供了强大的交互组件，让后端程序员告别前端的繁琐配置，可以采用简单原生(HTML/CSS/JS)的方式结合后端接口快速开发出属于自己的管理系统。
                    </p>
                </div>
            </div>
            <!-- 更新日志 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>更新日志</h2>
                    <hr>
                    <div class="layui-timeline">
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-01-29 v1.0 正式版发布</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-01-12 零帧起手</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 基本信息 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>基本信息</h2>
                    <hr>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">版本号</div>
                        <div class="layui-col-md3">开源许可协议</div>
                        <div class="layui-col-md3">最后构建时间</div>
                        <div class="layui-col-md3">主页</div>
                    </div>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">1.0</div>
                        <div class="layui-col-md3">MIT</div>
                        <div class="layui-col-md3">2026-01-24</div>
                        <div class="layui-col-md3"> <a style="color: #1476ff;" target="_blank" href="https://hs-an-yue.github.io/">点击查看</a> </div>
                    </div>
                    <hr>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">作者</div>
                        <div class="layui-col-md3">邮箱</div>
                        <div class="layui-col-md3">文档地址</div>
                        <div class="layui-col-md3">Github</div>
                    </div>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">夜泊</div>
                        <div class="layui-col-md3"><a style="color: #1476ff;" href="mailto:hd1611756908@163.com">hd1611756908@163.com</a></div>
                        <div class="layui-col-md3"><a style="color: #1476ff;" target="_blank" href="https://hs-an-yue.github.io/2026/01/28/YaYa-Layui-Admin-Plus%E6%A8%A1%E6%9D%BF%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8C/">点击查看</a></div>
                        <div class="layui-col-md3"> <a style="color: #1476ff;" target="_blank" href="https://gitee.com/ukoko/yaya-layui-admin-plus">点击查看</a> </div>
                    </div>
                </div>
            </div>
            <!-- 技术依赖 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>技术依赖</h2>
                    <hr>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">layui</div>
                        <div class="layui-col-md3">echarts</div>
                        <div class="layui-col-md3">xm-select</div>
                        <div class="layui-col-md3">AI模型</div>
                    </div>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">2.13.3</div>
                        <div class="layui-col-md3">6.0.0</div>
                        <div class="layui-col-md3">1.2.4</div>
                        <div class="layui-col-md3"> Qwen3/Gemini/Grok/豆包 </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
</body>
</html>