<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <title>关于</title>
</head>
<body>
    <div class="yaya-container">
        <div class="layui-fluid">
            <!-- 关于项目 -->
            <div class="layui-row">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>关于项目</h2>
                    <p style="line-height: 2em;">
                        <a href="#" style="color: #1e9fff;">YaYa-Layui-Admin-Plus</a> 一款简洁、方便、开箱即用、 <strong>国产化</strong> 的中后台前端管理模板，此模板以Layui框架为核心生成，遵循作者理念，专为后端程序员快速建站设计，没有提供丰富的UI组件，但是提供了强大的交互组件，让后端程序员告别前端的繁琐配置，可以采用简单原生(HTML/CSS/JS)的方式结合后端接口快速开发出属于自己的管理系统。
                    </p>
                </div>
            </div>
            <!-- 更新日志 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>更新日志</h2>
                    <hr>
                    <div class="layui-timeline">
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">
                                    2026-03-04 新增系统监控页面,优化其它样式,发布v2.0-stable版本
                                    <svg t="1772597737820" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4792" width="32" height="32"><path d="M245.76 286.72h552.96c124.928 0 225.28 100.352 225.28 225.28s-100.352 225.28-225.28 225.28H0V532.48c0-135.168 110.592-245.76 245.76-245.76z m133.12 348.16V401.408H348.16v178.176l-112.64-178.176H204.8V634.88h30.72v-178.176L348.16 634.88h30.72z m182.272-108.544v-24.576h-96.256v-75.776h110.592v-24.576h-141.312V634.88h143.36v-24.576h-112.64v-83.968h96.256z m100.352 28.672l-34.816-151.552h-34.816l55.296 233.472H675.84l47.104-161.792 4.096-20.48 4.096 20.48 47.104 161.792h28.672l57.344-233.472h-34.816l-32.768 151.552-4.096 30.72-6.144-30.72-40.96-151.552h-30.72l-40.96 151.552-6.144 30.72-6.144-30.72z" fill="#EE502F" p-id="4793"></path></svg>
                                </div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-27 新增列表条件搜索和布局组件</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-26 新增标签和徽章组件样式</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-25 新增组件管理菜单项[内部新增按钮管理和图标管理]</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-04 首页的图表显示比较丑,换个一个小清新图表</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-03 对核心配置文件中的首页和个人中心页面进行封装,方便用户在第一个使用时对模板进行定制化配置</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-02 首页点击菜单或者选项卡后,选项卡+面包屑+内容显示添加动画效果</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-01-29 v1.0 正式版发布</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-01-12 零帧起手</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 基本信息 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>基本信息</h2>
                    <hr>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">版本号</div>
                        <div class="layui-col-md3">开源许可协议</div>
                        <div class="layui-col-md3">最后构建时间</div>
                        <div class="layui-col-md3">Github</div>
                    </div>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">1.7</div>
                        <div class="layui-col-md3">MIT</div>
                        <div class="layui-col-md3">2026-02-28</div>
                        <div class="layui-col-md3"> <a style="color: #1476ff;" target="_blank" href="https://github.com/hs-an-yue/yaya-layui-admin-plus">点击查看</a> </div>
                    </div>
                    <hr>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">作者</div>
                        <div class="layui-col-md3">邮箱</div>
                        <div class="layui-col-md3">文档地址</div>
                        <div class="layui-col-md3">Gitee</div>
                    </div>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">夜泊</div>
                        <div class="layui-col-md3"><a style="color: #1476ff;" href="mailto:hd1611756908@163.com">hd1611756908@163.com</a></div>
                        <div class="layui-col-md3"><a style="color: #1476ff;" target="_blank" href="https://hs-an-yue.github.io/categories/YaYa%E6%A8%A1%E6%9D%BF/">点击查看</a></div>
                        <div class="layui-col-md3"> <a style="color: #1476ff;" target="_blank" href="https://gitee.com/ukoko/yaya-layui-admin-plus">点击查看</a> </div>
                    </div>
                </div>
            </div>
            <!-- 技术依赖 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>技术依赖</h2>
                    <hr>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">layui</div>
                        <div class="layui-col-md3">echarts</div>
                        <div class="layui-col-md3">xm-select</div>
                        <div class="layui-col-md3">AI模型</div>
                    </div>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">2.13.3</div>
                        <div class="layui-col-md3">6.0.0</div>
                        <div class="layui-col-md3">1.2.4</div>
                        <div class="layui-col-md3"> Qwen3/Gemini/Grok/豆包 </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
</body>
</html>