<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <title>yaya-admin-plus</title>
    <style>
        .yaya-show-container{
            border: 1px solid rgba(96,98,102,0.1);
            border-radius: 5px;
        }
        .yaya-show-container>div{
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="yaya-container">
        <div class="yaya-show-container">
            <h2 style="color: #606266;padding-top: 5px;margin: 10px;">按钮扩展</h2>
            <div>
                <button class="yaya-btn yaya-default" type="button">Default</button>
                <button class="yaya-btn yaya-primary" type="button">Primary</button>
                <button class="yaya-btn yaya-success" type="button">Success</button>
                <button class="yaya-btn yaya-info" type="button">Info</button>
                <button class="yaya-btn yaya-warning" type="button">Warning</button>
                <button class="yaya-btn yaya-danger" type="button">Danger</button>
            </div>
            <div>
                <button class="yaya-btn yaya-default" type="button">Plain</button>
                <button class="yaya-btn is-plain-primary" type="button">Primary</button>
                <button class="yaya-btn is-plain-success" type="button">Success</button>
                <button class="yaya-btn is-plain-info" type="button">Info</button>
                <button class="yaya-btn is-plain-warning" type="button">Warning</button>
                <button class="yaya-btn is-plain-danger" type="button">Danger</button>
            </div>
            <div>
                <button class="yaya-btn is-round-default" type="button">Round</button>
                <button class="yaya-btn is-round-primary" type="button">Primary</button>
                <button class="yaya-btn is-round-success" type="button">Success</button>
                <button class="yaya-btn is-round-info" type="button">Info</button>
                <button class="yaya-btn is-round-warning" type="button">Warning</button>
                <button class="yaya-btn is-round-danger" type="button">Danger</button>
            </div>
            <div>
                <button type="button" class="yaya-btn is-circle-default">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <button type="button" class="yaya-btn is-circle-info">
                    <i class="layui-icon layui-icon-email"></i>
                </button>
                <button type="button" class="yaya-btn is-circle-success">
                    <i class="layui-icon layui-icon-ok"></i>
                </button>
                <button type="button" class="yaya-btn is-circle-primary">
                    <i class="layui-icon layui-icon-edit"></i>
                </button>
                <button type="button" class="yaya-btn is-circle-warning">
                    <i class="layui-icon layui-icon-rate"></i>
                </button>
                <button type="button" class="yaya-btn is-circle-danger">
                    <i class="layui-icon layui-icon-delete"></i>
                </button>
            </div>

            <h2 style="color: #606266;margin: 10px;border-top: 1px solid #ccc;padding-top: 15px;">禁用按钮</h2>
            <div>
                <button class="yaya-btn yaya-default yaya-btn-disabled" type="button">Default</button>
                <button class="yaya-btn yaya-primary yaya-btn-disabled" type="button">Primary</button>
                <button class="yaya-btn yaya-success yaya-btn-disabled" type="button">Success</button>
                <button class="yaya-btn yaya-info yaya-btn-disabled" type="button">Info</button>
                <button class="yaya-btn yaya-warning yaya-btn-disabled" type="button">Warning</button>
                <button class="yaya-btn yaya-danger yaya-btn-disabled" type="button">Danger</button>
            </div>

            <h2 style="color: #606266;margin: 10px;border-top: 1px solid #ccc;padding-top: 15px;">链接按钮</h2>
            <div>
                <button class="yaya-btn is-link-default" type="button">Default</button>
                <button class="yaya-btn is-link-primary" type="button">Primary</button>
                <button class="yaya-btn is-link-success" type="button">Success</button>
                <button class="yaya-btn is-link-info" type="button">Info</button>
                <button class="yaya-btn is-link-warning" type="button">Warning</button>
                <button class="yaya-btn is-link-danger" type="button">Danger</button>
                <button class="yaya-btn is-link-danger yaya-btn-disabled" type="button">禁用</button>
            </div>

            <h2 style="color: #606266;margin: 10px;border-top: 1px solid #ccc;padding-top: 15px;">图标按钮</h2>
            <div>
                <button class="yaya-btn yaya-primary" type="button">
                    <i class="iconfont icon-CRMEB-bianji-xianxing"></i>
                </button>
                <button class="yaya-btn yaya-primary" type="button">
                    <i class="iconfont icon-CRMEB-fenxiang"></i>
                </button>
                <button class="yaya-btn yaya-primary" type="button">
                    <i class="iconfont icon-CRMEB-shanchu1"></i>
                </button>
                <button class="yaya-btn yaya-primary" type="button">
                    <i class="iconfont icon-CRMEB-sousuo-xianxing"></i><span style="margin-left: 5px;">Search</span>
                </button>
                <button class="yaya-btn yaya-primary" type="button">
                    <span style="margin-right: 5px;">Upload</span><i class="iconfont icon-upload"></i>
                </button>
            </div>

            <h2 style="color: #606266;margin: 10px;border-top: 1px solid #ccc;padding-top: 15px;">调整尺寸</h2>
            <div>
                <div style="padding: 10px">
                    <button class="yaya-btn yaya-default yaya-btn-large" type="button">Large</button>
                    <button class="yaya-btn yaya-default" type="button">Default</button>
                    <button class="yaya-btn yaya-default yaya-btn-small" type="button">Small</button>
                </div>

                <div style="padding: 10px">
                    <button class="yaya-btn is-round-default yaya-btn-round-large" type="button">Large</button>
                    <button class="yaya-btn is-round-default" type="button">Default</button>
                    <button class="yaya-btn is-round-default yaya-btn-round-small" type="button">Small</button>
                </div>

                <div style="padding: 10px">
                    <button type="button" class="yaya-btn is-circle-default yaya-btn-circle-large">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <button type="button" class="yaya-btn is-circle-default">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <button type="button" class="yaya-btn is-circle-default yaya-btn-circle-small">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>