<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <title>部门管理</title>
</head>
<body>
    <div class="yaya-container">
        <div class="layui-fluid">
            <div class="yaya-panel">
                <!-- 搜索条件 -->
                <form class="layui-form" style="padding: 10px 0">
                    <div class="layui-row">
                        <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                            <label class="yaya-form-label">部门</label>
                            <div class="yaya-input-block">
                                <input type="text" placeholder="部门" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                            <label class="yaya-form-label">状态</label>
                            <div class="yaya-input-block">
                                <select>
                                    <option value="">状态</option>
                                    <option value="1">有效</option>
                                    <option value="0">无效</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                            <label class="yaya-form-label">时间范围</label>
                            <div class="yaya-input-block">
                                <input type="text" class="layui-input" id="shortcut-range-date" placeholder="时间范围">
                            </div>
                        </div>
                        <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                            <button type="button" class="yaya-btn yaya-primary">搜索</button>
                            <button type="reset" class="yaya-btn" style="margin-left: 10px;">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="yaya-panel" style="margin-top: 10px;">
                <!-- 菜单操作按钮 -->
                <div style="display: flex;flex-direction: row;justify-content: flex-end;padding: 10px;">
                    <button id="del-dept" type="button" class="yaya-btn yaya-danger" style="margin-right: 10px;">删除</button>
                    <button id="expandId" type="button" class="yaya-btn yaya-default" style="margin-right: 10px;">收起</button>
                    <button id="add-dept" type="button" class="yaya-btn yaya-primary">添加</button>
                </div>
                <!-- 表格数据显示 -->
                <table class="layui-hide" id="treeTable"></table>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
    <script>
        layui.use(function(){
            const $ = layui.$;
            const treeTable = layui.treeTable;
            const laydate = layui.laydate;


            //添加一级菜单
            $("#add-dept").click(function(){
                layer.open({
                    type: 2, // page 层类型 iframe
                    area: ['410px', '350px'],
                    title: '添加',
                    shade: 0.6, // 遮罩透明度
                    shadeClose: true, // 点击遮罩区域，关闭弹层
                    content: 'dept-add.html',
                    end: function(){
                        //刷新表格
                        treeTable.reload('treeTable-dept');
                    }
                });
            });

            //时间控件
            laydate.render({
                elem: "#shortcut-range-date",
                type: "date",
                range: true
            });

            //树状表格收起
            $("#expandId").click(function(){
                treeTable.expandAll('treeTable', false);
            });

            //表格渲染
            treeTable.render({
                elem: '#treeTable',
                url: '../data/depts.json',
                skin:'line',
                cols: [[
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'deptId', title: 'ID',  sort: true, fixed: 'left'},
                    {field: 'deptName', title: '部门名称',width:300},
                    {field: 'orderNum', title: '序号'},
                    {
                        title: '状态',
                        templet:function (row){
                            let status = row.status;
                            if(status===0){
                                return '<span class="yaya-tag yaya-tag-plain-danger is-round tag-small">禁用</span>';
                            }else {
                                return '<span class="yaya-tag yaya-tag-plain-success is-round tag-small">有效</span>';
                            }
                        }
                    },
                    {field: 'createTime', title: '创建时间'},
                    {
                        title: "操作",
                        templet:function (){
                            let str='<button class="yaya-btn is-link-primary yaya-btn-small" type="button">更新</button>';
                            str+='<button class="yaya-btn is-link-danger yaya-btn-small" type="button">删除</button>';
                            str+='<button class="yaya-btn is-link-success yaya-btn-small" type="button">添加</button>';
                            return str;
                        }
                    }
                ]],
                tree:{
                    customName:{
                        id:'deptId',
                        name:'deptName'
                    },
                    view:{
                        expandAllDefault:true
                    }

                },
                page: false
            });
        })
    </script>
</body>
</html>