<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <!-- icons字体图标库 -->
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../css/yaya-common.css">
    <title>yaya-admin-plus</title>
</head>
<body>
    <div class="yaya-box">
        <div class="yaya-panel"><h1>布局模板-1</h1></div>
    </div>
</body>
</html>