<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <!-- icons字体图标库 -->
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../css/yaya-common.css">
    <!-- 扩展样式 -->
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <title>yaya-admin-plus</title>
</head>
<body>
    <!--
        需要引入 yaya-common.css 样式文件
        舒缓布局:
            yaya-box-container  : 舒缓布局对应的class类名,可以自行调整
            yaya-panel          : 舒缓布局内容部门对应的class类型,可以自行调整
    -->
    <div class="yaya-box-container">
        <div class="yaya-panel"><h1>布局模板-2-舒缓布局</h1></div>
    </div>
</body>
</html>