<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
    <title>关于</title>
    <style>
        .layui-timeline-axis{
            color: #1E9FFFFF;
        }
    </style>
</head>
<body>
    <div class="yaya-box-fluid">
        <div class="yaya-panel">
            <!-- 关于项目 -->
            <div class="layui-row">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>关于模板</h2>
                    <p style="line-height: 2em;">
                        1️⃣ <a href="https://gitee.com/ukoko/yaya-layui-admin-plus" target="_blank" style="color: #1e9fff;">YaYa-Layui-Admin-Plus</a> 一款简洁、方便、开箱即用、国产化的中后台前端管理模板，
                        此模板以<a href="https://layui.dev/" style="color: #1e9fff;" target="_blank"> Layui</a> 框架为核心生成，遵循<a href="https://layui.dev/" style="color: #1e9fff;" target="_blank"> Layui </a>设计理念，专为后端程序员快速建站设计。
                    </p>
                    <p>
                        2️⃣ 单页面的开发方式，项目构建不依赖脚手架，开发简单，维护方便。
                    </p>
                    <p>
                        3️⃣ 原生HTML/CSS/JS(JQuery)开发，入门简单，开发和维护成本低。
                    </p>
                </div>
            </div>
        </div>
        <div class="yaya-panel" style="margin-top: 15px;">
            <!-- 更新日志 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;">
                    <h2>更新日志</h2>
                    <hr>
                    <div class="layui-timeline">
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">
                                    2026-08-26  YaYa-Layui-Admin-Plus模板 3.0 发行版 ✈✈✈ 🆕🚀🚀🚀
                                </div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">
                                    2026-08-24  删除一些老旧页面，新增几个新的案例页面，优化一些css样式
                                </div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">
                                    2026-08-19  升级Layui版本库到v2.13.9,修复iframe嵌入的页面滚动条不能到浏览器底部的问题
                                </div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">
                                    2026-04-06 升级Layui库，优化页面样式
                                </div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">
                                    2026-03-04 发布v2.0-stable版本
                                </div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-27 新增列表条件搜索和布局组件</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-26 新增标签和徽章组件样式</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-25 新增组件管理菜单项[内部新增按钮管理和图标管理]</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-04 首页的图表显示比较丑,换个一个小清新图表</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-03 对核心配置文件中的首页和个人中心页面进行封装,方便用户在第一个使用时对模板进行定制化配置</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-02-02 首页点击菜单或者选项卡后,选项卡+面包屑+内容显示添加动画效果</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-01-29 v1.0 正式版发布</div>
                            </div>
                        </div>
                        <div class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">2026-01-12 零帧起手</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yaya-panel" style="margin-top: 15px;">
            <!-- 技术依赖 -->
            <div class="layui-row" style="margin-top: 20px;">
                <div style="border-radius: 5px;background-color: white;padding: 10px;">
                    <h2>技术依赖</h2>
                    <hr>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">Layui</div>
                        <div class="layui-col-md3">Echarts</div>
                        <div class="layui-col-md3">BootStrap</div>
                        <div class="layui-col-md3">xmSelect</div>
                    </div>
                    <div class="layui-row" style="margin: 20px 0;">
                        <div class="layui-col-md3">2.13+</div>
                        <div class="layui-col-md3">6.0+</div>
                        <div class="layui-col-md3">1.13+</div>
                        <div class="layui-col-md3">1.2+</div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
</body>
</html>