<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <title>yaya-admin-plus</title>
</head>
<body>
    <div class="yaya-container">
        <div class="layui-fluid">
            <div class="yaya-panel"><h1>布局-2-搜索条件</h1></div>
            <div class="yaya-panel" style="margin-top: 10px;"><h1>布局-2-表格数据显示</h1></div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
</body>
</html>