<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
    <title>菜单管理</title>
</head>
<body>
    <div class="yaya-box-fluid">
        <div class="yaya-panel">
            <!-- 搜索条件 -->
            <form class="layui-form" style="padding: 10px 0">
                <div class="layui-row">
                    <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                        <label class="yaya-form-label">菜单名</label>
                        <div class="yaya-input-block">
                            <input type="text" placeholder="菜单名" autocomplete="off" class="layui-input yaya-input-border-radius">
                        </div>
                    </div>
                    <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                        <label class="yaya-form-label">状态</label>
                        <div class="yaya-input-block">
                            <select>
                                <option value="">状态</option>
                                <option value="1">有效</option>
                                <option value="0">无效</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                        <button type="button" class="yaya-btn yaya-primary">搜索</button>
                        <button type="reset" class="yaya-btn" style="margin-left: 10px;">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="yaya-panel" style="margin-top: 10px;">
            <!-- 菜单操作按钮 -->
            <div style="display: flex;flex-direction: row;justify-content: flex-end;padding: 10px;">
                <button id="del-dept" type="button" class="yaya-btn yaya-danger" style="margin-right: 10px;">删除</button>
                <button id="add-dept" type="button" class="yaya-btn yaya-primary">添加</button>
            </div>
            <!-- 表格数据显示 -->
            <table class="layui-hide" id="treeTable"></table>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
    <script>
        layui.use(function(){

            const treeTable = layui.treeTable;

            //表格渲染
            treeTable.render({
                elem: '#treeTable',
                url: '../data/menu-tree.json',
                skin:'line',
                cols: [[
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'menuId', title: '编号', fixed: 'left'},
                    {field: 'menuTitle', title: '菜单名称',width:300},
                    {field: 'perms', title: '权限'},
                    {
                        title: '图表',
                        templet:function (row){
                            let menuIcon = row.menuIcon;
                            return `<i class="${menuIcon}"></i>`;
                        }
                    },
                    {
                        title: '类型',
                        templet:function (row){
                            let menuType = row.menuType;
                            if(menuType===1){
                                return `<span class="yaya-tag yaya-tag-light-primary tag-small">文档</span>`;
                            }else if(menuType===2){
                                return `<span class="yaya-tag yaya-tag-light-success tag-small">链接</span>`;
                            }else {
                                return `<span class="yaya-tag yaya-tag-light-warning tag-small">按钮</span>`;
                            }
                        }
                    },
                    {field: 'orderNum', title: '序号'},
                    {
                        title: '状态',
                        templet:function (row){
                            let status = row.status;
                            if(status===0){
                                return '<span class="yaya-tag yaya-tag-plain-danger is-round tag-small">禁用</span>';
                            }else {
                                return '<span class="yaya-tag yaya-tag-plain-success is-round tag-small">有效</span>';
                            }
                        }
                    },
                    {field: 'createTime', title: '创建时间',width: 180},
                    {
                        title: "操作",
                        width: 180,
                        templet:function (){
                            let str='<button class="yaya-btn is-link-primary yaya-btn-small" type="button">更新</button>';
                            str+='<button class="yaya-btn is-link-danger yaya-btn-small" type="button">删除</button>';
                            str+='<button class="yaya-btn is-link-success yaya-btn-small" type="button">添加</button>';
                            return str;
                        }
                    }
                ]],
                tree:{
                    customName:{
                        id:'menuId',
                        name:'menuTitle',
                        icon:'menuIcon'
                    },
                    view:{
                        expandAllDefault:false
                    }

                },
                page: false
            });
        })
    </script>
</body>
</html>