<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <!-- icons字体图标库 -->
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../css/yaya-common.css">
    <!-- 扩展样式 -->
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <title>yaya-admin-plus</title>
    <style>
        /* 单选框默认颜色覆盖 */
        .layui-form-radio:hover>*, .layui-form-radioed, .layui-form-radioed>i{
            color: #409eff;
        }
    </style>
</head>
<body>
    <div class="yaya-box-fluid">
        <div class="yaya-panel">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                        <input type="password" lay-verify="required" placeholder="原密码" lay-reqtext="原密码" autocomplete="off" class="layui-input yaya-input-border-radius" lay-affix="eye">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="bi bi-shield-check"></i>
                        </div>
                        <input type="password" lay-verify="required" placeholder="新密码" lay-reqtext="新密码" autocomplete="off" class="layui-input yaya-input-border-radius" lay-affix="eye">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="bi bi-shield-fill-check"></i>
                        </div>
                        <input type="password" lay-verify="required" placeholder="重复新密码" lay-reqtext="重复新密码" autocomplete="off" class="layui-input yaya-input-border-radius" lay-affix="eye">
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-normal layui-btn-radius layui-btn-fluid" type="button">密码更新</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
</body>
</html>