<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../font/bootstrap-icons.css">
    <title>yaya-admin-plus</title>
</head>
<body>
    <div class="yaya-box-fluid">
        <p style="color: #949eb7;background-color: #ffffff;padding: 10px;font-size: 13px;margin-bottom: 10px;border-radius: 5px;">二级菜单-2-2 内容片段</p>
        <p style="color: #13deb9;background-color: #e7fcf8;padding: 10px;font-size: 13px;margin-bottom: 10px;border-radius: 5px;">二级菜单-2-2 内容片段</p>
        <p style="color: #ff4d4f;background-color: #ffeded;padding: 10px;font-size: 13px;margin-bottom: 10px;border-radius: 5px;">二级菜单-2-2 内容片段</p>
        <p style="color: #409EFF;background-color: #d9ecff;padding: 10px;font-size: 13px;margin-bottom: 10px;border-radius: 5px;">二级菜单-2-2 内容片段</p>
    </div>
</body>
</html>
