<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <title>用户管理</title>
    <style>
        .yaya-user-content{
            display: flex;
            justify-content: space-around;
            border-radius: 5px;
        }
        .yaya-user-left{
            background-color: white;
            width: 20%;
            height: calc(100vh);
            border-radius: 5px;
            overflow-y: auto;
            overflow-x: auto;
        }
        /* 滚动条样式 */
        .yaya-user-left {
            /* 滚动条宽度：auto, thin, 或 none */
            scrollbar-width: thin;
            /* 滚动条颜色：前者为滑块(thumb)颜色，后者为轨道(track)颜色 */
            scrollbar-color: #ffffff #f1f1f1;
        }
        .yaya-user-right{
            width: 79%;
        }
        /* 输入框内部placeholder的css样式 */
        input::placeholder {
            font-size: 12px;
        }
        .yaya-user-search{
            display: flex;
        }
        .yaya-user-search>div{
            height: 35px;
        }
        .yaya-user-search-btn{
            height: 35px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }
        .yaya-user-search input{
            height: 35px;
        }
        .yaya-user-label{
            text-align: center;
            line-height: 35px;
        }
        /* xm-select 样式覆盖 */
        .yaya-user-condition xm-select{
            line-height: 35px;
            min-height: 35px;
        }
        .yaya-user-condition xm-select .xm-label .xm-label-block{
            font-size: 12px;
        }
        .yaya-user-condition xm-select > .xm-label .xm-label-block > span{
            font-size: 12px;
        }
        .yaya-user-condition xm-select > .xm-label .xm-label-block > i{
            font-size: 10px;
        }
    </style>
</head>
<body>
    <div class="yaya-container">
        <div class="layui-fluid yaya-user-content">
            <div class="yaya-user-left">
                <!-- 部门搜索框 -->
                <div class="layui-form" style="margin-top: 10px;">
                    <div class="layui-row">
                        <div class="layui-col-md11" style="margin-left: 10px;">
                            <div class="layui-input-wrap" style="line-height: 35px;border-radius: 5px;">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-search" style="font-size: 12px;"></i>
                                </div>
                                <input style="height: 35px;border-radius: 5px;" type="text" placeholder="请输入所属部门" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 部门树形列表 -->
                <div id="dept-tree" style="margin-top: 5px;padding-bottom: 20px;"></div>
            </div>
            <div class="yaya-user-right">
                <!-- 搜索条件 -->
                <div class="yaya-panel">
                    <form class="layui-form" style="padding: 10px 0;">
                        <div class="layui-row">
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                                <label class="yaya-form-label">用户名</label>
                                <div class="yaya-input-block">
                                    <input type="text" placeholder="用户名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                                <label class="yaya-form-label">账号</label>
                                <div class="yaya-input-block">
                                    <input type="text" placeholder="账号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                                <label class="yaya-form-label">部门</label>
                                <div class="yaya-input-block" id="deptSelectTreeId">
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                                <label class="yaya-form-label">状态</label>
                                <div class="yaya-input-block">
                                    <select>
                                        <option value="">状态</option>
                                        <option value="1">有效</option>
                                        <option value="0">禁用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                                <label class="yaya-form-label">手机号</label>
                                <div class="yaya-input-block">
                                    <input type="text" placeholder="手机号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                                <label class="yaya-form-label">租户</label>
                                <div class="yaya-input-block">
                                    <select>
                                        <option value="">租户</option>
                                        <option value="10001">YaYa集团</option>
                                        <option value="10002">XaXa集团</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item">
                                <label class="yaya-form-label">时间</label>
                                <div class="yaya-input-block">
                                    <input type="text" class="layui-input" id="shortcut-range-date" placeholder="时间范围">
                                </div>
                            </div>
                            <div class="layui-col-md3 layui-col-sm3 yaya-form-item" style="padding-top: 2px;">
                                <button type="button" class="yaya-btn yaya-primary">搜索</button>
                                <button type="reset" class="yaya-btn" style="margin-left: 10px;">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 内容显示 -->
                <div class="yaya-panel" style="margin-top: 10px;padding: 10px;">
                    <table class="layui-hide" id="table-user" lay-filter="table-user"></table>
                </div>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
    <script src="../js/xm-select.js"></script>
    <script>
        layui.use(function (){
            const tree = layui.tree;
            const table = layui.table;
            const layer = layui.layer;
            const laydate = layui.laydate;
            const $ = layui.$;

            //时间控件
            laydate.render({
                elem: "#shortcut-range-date",
                type: "date",
                range: true
            });

            /* 用户列表 */
            table.render({
                elem: '#table-user',
                url: '../data/users.json',
                skin:'line',
                page: {
                    prev:'上一页',
                    next:'下一页',
                    theme:'#1e9fff'
                },
                defaultToolbar:[],
                toolbar:`
                    <div>
                        <button type="button" lay-event="add" class="yaya-btn is-plain-primary"><i class="iconfont icon-CRMEB-jia"></i>新增</button>
                        <button type="button" lay-event="userEnable" class="yaya-btn is-plain-warning"><i class="layui-icon layui-icon-vercode"></i>用户解封</button>
                        <button type="button" lay-event="userImport" class="yaya-btn is-plain-success"><i class="layui-icon layui-icon-upload-drag"></i>导入</button>
                        <button type="button" lay-event="batchDel" class="yaya-btn is-plain-danger"><i class="layui-icon layui-icon-delete"></i>删除</button>
                        <button type="button" lay-event="resetPwd" class="yaya-btn is-plain-info"><i class="iconfont icon-a-1_huaban1"></i>重置密码</button>
                        <button type="button" lay-event="userDisEnable" class="yaya-btn yaya-default"><i class="layui-icon layui-icon-lock"></i>用户封禁</button>
                    </div>
                `,
                cols: [[
                    {type: 'checkbox', fixed: 'left'},
                    {field:'userId', title: '编号',width:60,fixed: 'left'},
                    {field:'username', title: '名称',width:150},
                    {field:'phone', title: '账号',width:150},
                    {
                        title: '租户',
                        width:150,
                        templet: function(d){
                            return d.sysTenant.tenantName;
                        }
                    },
                    {
                        title: '部门',
                        width:100,
                        templet: function(d){
                            return d.sysDepartment.deptName;
                        }
                    },
                    {
                        title: '头像',
                        width:100,
                        templet: function(){
                            return `
                                <img style="width: 30px;height: 30px;border-radius: 15px;" src="../image/avatar.gif">
                            `;
                        }
                    },
                    {
                        title: '性别',
                        width:50,
                        templet: function(d){
                            return d.sex===1?'男':'女';
                        }
                    },
                    {
                        title: '角色名',
                        width:100,
                        templet: function(d){
                            return d.sysRole.roleName;
                        }
                    },
                    {
                        title: '角色符号',
                        width:200,
                        templet: function(d){
                            return `<span class="yaya-tag yaya-tag-light-primary">${d.sysRole.roleSymbol}</span>`;
                        }
                    },
                    {field:'createTime', title: '创建时间',width: 200},
                    {field:'expiredTime', title: '过期时间',width: 200},
                    {
                        title: '操作',
                        fixed: 'right',
                        width: 150,
                        templet: function(row){
                            let str='<button class="yaya-btn is-link-warning yaya-btn-small" type="button">更新</button>';
                            str+='<button class="yaya-btn is-link-danger yaya-btn-small" type="button">删除</button>';
                            str+='<button class="yaya-btn is-link-success yaya-btn-small" type="button">详情</button>';
                            return str;
                        }
                    }
                ]],
                parseData: function(res){ // res 即为原始返回的数据
                    return {
                        "code": res.code, // 解析接口状态
                        "msg": res.msg, // 解析提示文本
                        "count": res.data.count, // 解析数据长度
                        "data": res.data.list // 解析数据列表
                    };
                }
            })

            //获取部门列表
            $.getJSON('../data/depts.json',function (resp) {
                let data = resp.data;

                /* 左侧树状部门渲染显示 */
                tree.render({
                    elem: '#dept-tree',
                    data: data,
                    onlyIconControl: true,  // 是否仅允许节点左侧图标控制展开收缩
                    customName:{
                        id: 'deptId',
                        title: 'deptName',
                        children: 'children'
                    },
                    click: function(obj){
                        layer.msg(JSON.stringify(obj.data));
                    }
                });
                /* 右侧搜索条件树形部门下拉框渲染显示 */
                xmSelect.render({
                    el: '#deptSelectTreeId',
                    language: 'zn',
                    theme: {
                        color: '#16b777',
                    },
                    model: {
                        label: {
                            type: 'block',
                            block: {
                                //最大显示数量, 0:不限制
                                showCount: 1,
                                //是否显示删除图标
                                showIcon: true,
                            }
                        }
                    },
                    data: data,
                    tree: {
                        show: true,
                        expandedKeys:true,
                        indent: 20,
                        strict: true,
                        clickCheck: true
                    },
                    prop: {
                        name: 'deptName',
                        value: 'deptId',
                    }
                })
            });
        })
    </script>
</body>
</html>